[submodule "freedesktop"]
	path = freedesktop
    url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "lain"]
	path = lain
    url = https://github.com/lcpz/lain.git
[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation.git
[submodule "away"]
	path = away
	url = https://github.com/shmilee/awesome-away.git
